{{!--
  @param relId           - id for navigation (pcId, factionId, targetFactionId)
  @param relName         - display name
  @param relImg          - image url
  @param relValue        - numeric value
  @param relTier         - tier object {color, name}
  @param relHidden       - boolean
  @param relType         - bar data-type (individual, faction-rel, faction-to-faction, actor-faction)
  @param barId           - composite id for bar (entityId:targetId)
  @param entityType      - type for selectEntity (actor, faction)
  @param entityId        - id for selectEntity
  @param canEdit         - boolean
  @param relTypeKey      - for toggleRelationHidden (individual, faction, factionToFaction, actorFaction)
  @param sourceEntityId  - entity id for hidden toggle
  @param targetEntityId  - target id for hidden toggle
  @param showMemberStar  - boolean
  @param memberRank      - rank object {name, color} or null
  @param showRemoveBtn   - boolean
--}}
<div class="fame-detail-rel-row {{#if relHidden}}is-hidden{{/if}}">
  <div class="fame-detail-rel-left">
    <img class="fame-detail-rel-img" src="{{relImg}}">
    <span class="fame-detail-rel-name clickable" data-action="selectEntity" data-entity-type="{{entityType}}" data-entity-id="{{entityId}}">{{relName}}</span>
    {{#if showMemberStar}}<i class="fa-solid fa-star fame-member-star"></i>{{/if}}
  </div>
  <div class="fame-detail-rel-center {{#if showMemberStar}}fame-rel-center-end{{/if}}">
    {{#if showMemberStar}}
      <div class="fame-member-status">
        <i class="fa-solid fa-users fame-member-status-icon"></i>
        <span class="fame-member-status-text">{{localize (concat @root.moduleId '.relations.faction-member')}}</span>
        {{#if memberRank}}
          <span class="fame-member-rank-badge" style="background:{{memberRank.color}}">{{memberRank.name}}</span>
        {{/if}}
      </div>
      {{#if @root.isGM}}
        <button type="button" class="fame-icon-btn fame-hide-btn {{#if relHidden}}active{{/if}}" data-action="toggleRelationHidden" data-rel-type="{{relTypeKey}}" data-entity-id="{{sourceEntityId}}" data-target-id="{{targetEntityId}}">
          <i class="fa-solid fa-eye-slash"></i>
        </button>
        {{#if showRemoveBtn}}
          <button type="button" class="fame-icon-btn" data-action="removeRelation" data-rel-type="{{relTypeKey}}" data-entity-id="{{sourceEntityId}}" data-target-id="{{targetEntityId}}">
            <i class="fa-solid fa-times"></i>
          </button>
        {{/if}}
      {{/if}}
    {{else}}
      {{#if canEdit}}
        {{{tierBadge relTier true}}}
        {{> "relations/partials/rep-bar" barId=barId barType=relType barMode="manual" value=relValue tierColor=relTier.color canEdit=true compact=true}}
        {{#if @root.isGM}}
          <button type="button" class="fame-icon-btn fame-hide-btn {{#if relHidden}}active{{/if}}" data-action="toggleRelationHidden" data-rel-type="{{relTypeKey}}" data-entity-id="{{sourceEntityId}}" data-target-id="{{targetEntityId}}">
            <i class="fa-solid fa-eye-slash"></i>
          </button>
          {{#if showRemoveBtn}}
            <button type="button" class="fame-icon-btn" data-action="removeRelation" data-rel-type="{{relTypeKey}}" data-entity-id="{{sourceEntityId}}" data-target-id="{{targetEntityId}}">
              <i class="fa-solid fa-times"></i>
            </button>
          {{/if}}
        {{/if}}
      {{else}}
        {{{tierBadge relTier true}}}
        <span class="fame-rel-value-display small" style="color:{{relTier.color}}">{{#if (gt relValue 0)}}+{{/if}}{{relValue}}</span>
      {{/if}}
    {{/if}}
  </div>
</div>